.c-img {
  height: 400px;
  width: 500px !important;
  /* background-color: ghostwhite; */
}
/* .carousel{
    width: 80%;
} */
.img-first {
    /* background: gainsboro; */
  width: 80%;
  position: relative;
  left: 135px;
  display: flex;
  justify-content: space-between;
}
.img-second {
  /* background: greenyellow; */
  width: 80%;
  position: relative;
  left: 135px;
  display: flex;
  justify-content: space-between;
}


.img-third {
  /* background: greenyellow; */
  width: 80%;
  position: relative;
  left: 135px;
  display: flex;
  justify-content: space-between;
}
.in {
  position: relative;
  top:80px;
  /* background-color:tomato ; */
  height: 250px;
}
.carousel-btn{
    padding: 8px;
    background-color: rgb(254,152,15);
    color: white;
    border: none;
}
.carousel-btn:hover{
    color: black;
}
